<nav class="navbar navbar-expand-lg navbar-trans navbar-dark ">
  <a class="navbar-brand" (click)="this.isManageButtonVisible = true;this.isClientButtonVisible=true;this.isRegisButtonVisible=true"  [routerLink]="['/home']">Project Management</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" *ngIf="this.isManageButtonVisible" (click)="this.isManageButtonVisible = false;this.isClientButtonVisible=true;this.isRegisButtonVisible=true" [routerLink]="['/login_manager']">Login as Manager</a>
      </li>
      <li>
        <a class="nav-link" *ngIf="this.isClientButtonVisible" (click)="this.isClientButtonVisible = false;this.isManageButtonVisible=true;this.isRegisButtonVisible = true"  [routerLink]="['/login_client']">Login as Client</a>
      </li>
      <li>
        <a class="nav-link" *ngIf="this.isRegisButtonVisible" (click)="this.isRegisButtonVisible = false;this.isManageButtonVisible=true;this.isClientButtonVisible=true"  [routerLink]="['/signup']">Register</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>