/* You can add global styles to this file, and also import other style files */
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url('assets/images/backgroundImage.jpg');
    background-size: cover;
    
}
a{
    color:#9dc720;
}
h1,h2,h3,h4,h5,h6{
    color:#9dc720;
}
.btn {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #9dc720;
    background: linear-gradient(45deg, #fff 50%, #9dc720 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
  
    color: #fff; /*For IE*/
  }
  
  .btn:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(45deg, #9dc720 50%, transparent 50%);
    z-index: -1;
  }
  
  .btn,
  .btn:after {
    background-size: 300%;
    background-position: 100%;
    transition: 1s, font-size 0.2s;
  }
  
  .btn:hover,
  .btn:hover:after {
    background-position: 0;
    font-size: 1.1em;
    border: 2px solid #9dc720;
  
    color: #9dc720; /*For IE*/
  }
  